# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Printing service SNBC BT-T080R.iml
/contentModel.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
